<div class="title">
    <div class="textTitle">
        <h3><strong>Pulsations.web</strong></h3>
    </div>
    <div class="buttonTitle">
        <button class="btn btn-success" [routerLink] = "['/add']">Add person</button>
    </div>
</div>
<br><br>
<hr>
<div class="texts">
    <p>
        This web application has been created with the purpose of registering people and calculating their keystrokes, it must be taken 
        into account that a person's keystrokes are dependent on their gender and sex, therefore there are two types of equations used to 
        calculate this data, once you are registered, you can consult the list of people and their keystrokes.
    </p>
    <div class="img01">
        <img [src]="imgUrl01" alt="image pulsation">
    </div>
        <br><br>
        <p><strong>The equations are the following.</strong></p>
        <h4>Male.</h4>
        <p><strong>Age - 220 / 10</strong></p>
        <h4>Female.</h4>
        <p><strong>Age - 210 / 10</strong></p>
    <p>
        This application has been created by Mario Mendoza (ghost) in order to make a practice required by his teacher of web programming, 
        I hope you like the operation of the application, but if not it would be a pleasure to accept your suggestions for improvement in 
        the email that is at the end of the page, I hope you have a good day
        <br><br>
        <strong>Yours sincerely Ghost.</strong>
    </p>
</div>